<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>mie350webapp</display-name>
	<welcome-file-list>
		<welcome-file>landing.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.mie.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.mie.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>25</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>Tracker</servlet-name>
		<servlet-class>com.mie.controller.AppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tracker</servlet-name>
		<url-pattern>/tracker</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.mie.controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Groups</servlet-name>
		<servlet-class>com.mie.controller.GroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/groups</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Posts</servlet-name>
		<servlet-class>com.mie.controller.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Posts</servlet-name>
		<url-pattern>/posts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dash</servlet-name>
		<servlet-class>com.mie.controller.StatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dash</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
</web-app>